{% extends 'o_nas/base.html' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-4">

  <h1>about</h1>
  <p>
  Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
  Aliquam tempor at quam nec laoreet. Curabitur libero massa, mollis et nunc in, placerat suscipit dui. Ut a convallis felis.
  Phasellus pellentesque metus sed dui posuere lobortis. Aliquam ultrices porta velit, in pulvinar ante finibus vitae.
  Suspendisse semper fermentum lectus at sagittis. Proin placerat quis eros nec faucibus. Morbi gravida ligula laoreet,
  fringilla velit in, pulvinar purus. Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
  luctus ligula.</p>
</div>
<div class="col-sm-6 col-md-4">
  <h1>Headline</h1>
  <p>
  Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
  Aliquam tempor at quam nec laoreet. Curabitur libero massa, mollis et nunc in, placerat suscipit dui. Ut a convallis felis.
  Phasellus pellentesque metus sed dui posuere lobortis. Aliquam ultrices porta velit, in pulvinar ante finibus vitae.
  Suspendisse semper fermentum lectus at sagittis. Proin placerat quis eros nec faucibus. Morbi gravida ligula laoreet,
  fringilla velit in, pulvinar purus. Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
  luctus ligula.</p>
</div>
<div class="col-sm-6 col-md-4">
  <h1>Headline</h1>
  <p>
  Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
  Aliquam tempor at quam nec laoreet. Curabitur libero massa, mollis et nunc in, placerat suscipit dui. Ut a convallis felis.
  Phasellus pellentesque metus sed dui posuere lobortis. Aliquam ultrices porta velit, in pulvinar ante finibus vitae.
  Suspendisse semper fermentum lectus at sagittis. Proin placerat quis eros nec faucibus. Morbi gravida ligula laoreet,
  fringilla velit in, pulvinar purus. Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
  luctus ligula.</p>
</div>
</div>
</div>
{% endblock %}
