<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "vyrobni_program/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vyrobni_program/css/style.css" %}">
    <title>OSKON</title>
</head>
<body>
  <nav class="navbar navbar-default" style="border-bottom: 1px solid">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

    </button>
    <div class="navbar-brand"> <a href="{% url 'o_nas:index' %}"><img id="brand" src="/media/oskon_logo_2016_09_28.png"></a>


    </div>
    <div class="collapse navbar-collapse" id="collapsemenu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'o_nas:index' %}">Úvod</a></li>

        </li>
          <li><a class="color" href="{% url 'vyrobni_program:vyrobni_program' %}">Výrobni program</a></li>
          <li><a href="{% url 'o_nas:galerie' %}">Galerie</a></li>
          <li><a href="{% url 'o_nas:reference' %}">Reference</a></li>
          <li><a href="{% url 'o_nas:kontakt' %}">Kontakt</a></li>

        </ul>

    </div>

  </div>
  </nav>

  {% block content %}
  {% endblock %}












<footer>
    <div class="container">
      <p>
        OSKON s.r.o. 2016
      </p>
    </div>
</footer>
<script src="{% static "vyrobni_program/js/jquery-3.1.0.min.js" %}"></script>
<script src="{% static "vyrobni_program/js/bootstrap.min.js" %}"></script>
<script src="{% static "vyrobni_program/js/script.js" %}"></script>
</body>

</html>
