{% extends 'o_nas/base.html' %}

{% block content %}
<div class="content container">
  <div class="row">
    <section class="col-sm-12">
      <div class="carousel slide" id="featured">
        <ol class="carousel-indicators">
          <li data-target="#featured" data-slide-to="0" class="active"></li>
          <li data-target="#featured" data-slide-to="1"></li>
          <li data-target="#featured" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="media/carousel1.jpg">
            <div class="carousel-caption">
              <h4>Obrábění</h4>


            </div>
          </div>
          <div class="item">
            <img src="media/5ir6oKY.png">
            <div class="carousel-caption">
              <h3>Konstrukce</h3>


            </div>
          </div>
          <div class="item">
            <img src="media/carousel2.jpg">
            <div class="carousel-caption">
              <h3>Svařování</h3>

            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#featured" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="xy">
    <div class="col-xs-12 col-md-6">
        <h1>Headline</h1>
        <p>
          Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
        </p>
        <p>
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.
        </p>
        <p>
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.
        </p>


    </div>

    <div class="col-xs-12 col-md-6">
        <div class="container-fluid" id="index_div">
          <div class="row" id="x">


                <a href="{% url 'vyrobni_program:vyrobni_program'%}"><h4>Výrobni program</h4></a>
                <p>
                  Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                  luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean
                </p>
                <a class="btn btn-primary btn-xs" href="{% url 'vyrobni_program:vyrobni_program'%}">Vice informací</a>


          </div>
        </div>


            <div class="container-fluid" id="index_div">
              <div class="row" id="x">


                  <a href="{% url 'o_nas:galerie'%}"><h4 href="{% url 'o_nas:galerie'%}">Galerie</h4></a>
                    <p>
                      Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                      luctus ligula.
                    </p>
                    <a class="btn btn-primary btn-xs" href="{% url 'o_nas:galerie'%}">Více informací</a>




            </div>
            </div>



            <div class="container-fluid" id="index_div">
              <div class="row" id="x">


                    <a href="{% url 'o_nas:kontakt'%}"><h4>Kontakt</h4></a>
                    <p>
                      Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                      luctus ligula.
                    </p>
                    <a class="btn btn-primary btn-xs" href="{% url 'o_nas:kontakt'%}">Vice informací</a>




            </div>


            </div>


    </div>

  </div>
</div>

{% endblock %}
