<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "vyrobni_program/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vyrobni_program/css/style.css" %}">
    <title>OSKON</title>
</head>

<header class="bgimage">
    <div class="container">
        <h1 class="logo">LOGO OSKON</h1>
    </div>
</header
<body>
  <nav class="navbar navbar-default">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsemenu">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'o_nas:index' %}">Uvod</a></li>
        <li>  <a href="#" class="dropdown-toggle"
          data-toggle="dropdown" role="button"
          aria-haspopup="True"
          aria-expanded="false">Vyrobni program<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Svarovani</a></li>
            <li><a href="#">Obrabeni</a></li>
            <li><a href="#">Konstrukce</a></li>
          </ul>
        </li>
          <li><a href="{% url 'vyrobni_program:vyrobni_program' %}">Vyrobni program</a></li>
          <li><a href="{% url 'o_nas:galerie' %}">Galerie</a></li>
          <li><a href="#">Stroje</a></li>
          <li><a href="{% url 'o_nas:kontakt' %}">Kontakt</a></li>
        </ul>

    </div>

  </div>
  </nav>
<div class="content container" style="padding-bottom: 1.5cm">
  <div class="row">
    <section class="col-sm-12">
      <div class="carousel slide" id="featured">
        <ol class="carousel-indicators">
          <li data-target="#featured" data-slide-to="0" class="active"></li>
          <li data-target="#featured" data-slide-to="1"></li>
          <li data-target="#featured" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="media/carousel1.jpg">
            <div class="carousel-caption">
              <h3>Obrabeni</h3>
              <p>
                Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                luctus ligula.
              </p>

            </div>
          </div>
          <div class="item">
            <img src="media/5ir6oKY.png">
            <div class="carousel-caption">
              <h3>Konstrukce</h3>
              <p>
                Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                luctus ligula.
              </p>

            </div>
          </div>
          <div class="item">
            <img src="media/carousel2.jpg">
            <div class="carousel-caption">
              <h3>Svarovani</h3>
              <p>
                Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                luctus ligula.
              </p>

            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#featured" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 panel">
        <h1 style="padding-bottom: 0.5cm">Headline</h1>
        <p>
          Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
        </p>
        <p>
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
          luctus ligula.
        </p>
        <p>
          <a class="btn btn-link" href="{% url 'o_nas:kontakt'%}">Kontaktujte nas</a>
        </p>

    </div>

    <div class="col-xs-12 col-md-6">
        <div class="container-fluid">
          <div class="row">


                <h4>Vyrobni program</h4>
                <p>
                  Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                  luctus ligula.Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean 
                </p>
                <a class="btn btn-link" href="{% url 'vyrobni_program:vyrobni_program'%}">Prejit na vyrobni program</a>


          </div>
        </div>


            <div class="container-fluid">
              <div class="row">


                    <h4>Galerie</h4>
                    <p>
                      Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                      luctus ligula.
                    </p>
                    <a class="btn btn-link" href="{% url 'o_nas:galerie'%}">Prejit do galerie</a>




            </div>
            </div>



            <div class="container-fluid">
              <div class="row">


                    <h4>Kontakt</h4>
                    <p>
                      Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
                      luctus ligula.
                    </p>
                    <a class="btn btn-link" href="{% url 'o_nas:kontakt'%}">Kontaktujte nas</a>




            </div>


            </div>


    </div>

  </div>
</div>















<footer>
    <div class="container">
      <p>
        OSKON s.r.o. 2016
      </p>
    </div>
</footer>
<script src="{% static "vyrobni_program/js/jquery-3.1.0.min.js" %}"></script>
<script src="{% static "vyrobni_program/js/bootstrap.min.js" %}"></script>
<script src="{% static "vyrobni_program/js/script.js" %}"></script>
</body>

</html>
