{% extends 'o_nas/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="page-header" style="margin-bottom:1cm">
      <h1>Kontaktujte nas</h1>
      <p>
      Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
      Aliquam tempor at quam nec laoreet. Curabitur libero massa, mollis et nunc in, placerat suscipit dui. Ut a convallis felis.
      Phasellus pellentesque metus sed dui posuere lobortis. Aliquam ultrices porta velit, in pulvinar ante finibus vitae.
      Suspendisse semper fermentum lectus at sagittis. Proin placerat quis eros nec faucibus. Morbi gravida ligula laoreet,
      fringilla velit in, pulvinar purus. Proin eros augue, pharetra quis eros ac, dignissim tempus felis. Aenean sit amet
      luctus ligula.</p>
    </div>

  </div>
  </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} style="color:#00ff00" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
  <div class="row" style="margin-bottom:1cm">
    <div class="col-md-6" style="margin-bottom: 20px">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Submit" />
      </form>
    </div>

    <div class="col-md-6" style="margin-bottom: 20px">
      <div class="thumbail">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiOnDSgDcIcwGjmVAyMZxRUtx6hUPOQf0">
        </script><div class="thumbnail" style='overflow:hidden;height:502px;max-width: auto;'>
          <div id='gmap_canvas' style='height:502px;max-width: auto;'></div><div><small>
            <a href="http://www.embedgooglemaps.com">Generate your Google map here, quick and easy!</a>
          </small></div><div><small>
            <a href="https://top10geeks.com/top-10-best-running-shoes-men-2016/">
              With top10geeks.com, you can read everything about the best running shoes for men for the year 2016.
              We give insights in what is the best shoe to buy, by looking at it's qualities and value for money.
              However, it is important that you always try the shoe for yourself: you might have different preferences
              than what we are recommending. With our tips of the best running shoes for men, you cannot go wrong!</a>
            </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
          </div><script type='text/javascript'>function init_map(){
            var myOptions = {zoom:13,center:new google.maps.LatLng(50.10671223402563,14.401405037109392),
              mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'),
              myOptions);marker = new google.maps.Marker({
                map: map,position: new google.maps.LatLng(50.10671223402563,14.401405037109392)});
                infowindow = new google.maps.InfoWindow({
                  content:'<strong>mapa</strong><br>czech republic, prague, Technická 4, 166 07<br>'});
                  google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
                  infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

      </div>

    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div  style="padding: 0px">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">
                Nazev Spolecnosti
              </th>
              <td>
                OSKON s.r.o.
              </td>
            </tr>
            <tr>
              <th scope="row">
                Sidlo
              </th>
              <td>
                Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
              </td>
            </tr>
            <tr>
              <th scope="row">
                Provozovna
              </th>
              <td>
                Quisque quam ex, aliquam id ligula aliquet, mollis sodales eros. Duis eros ante, interdum in odio ac, fringilla dignissim nisl.
              </td>
            </tr>
            <tr>
              <th scope="row">
                ICO
              </th>
              <td>
                45456 456456 4564156
              </td>
            </tr>
            <tr>
              <th scope="row">
                DIC
              </th>
              <td>
                45456 456456 4564156
              </td>
            </tr>
            <tr>
              <th scope="row">
                Telefon
              </th>
              <td>
                45456 456456 4564156
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}
