{% extends 'o_nas/base.html' %}

{% block content %}

<div class="container" style="padding-top: 1cm">
  <h3>Nasi odberatele:</h3>
  <hr >
    <div class="row" >

      {% if list_of_references %}
          {% for reference in list_of_references %}
          <div class="col-md-4 col-sm-6" style="margin-bottom:20px">
          <div class="media">
              <div class="pull-left">
                  <span>
                        <a href="{{ reference.link }}"><img style="height: 60px; width:60px" src="{{ reference.image.url }}"></a>
                  </span>
              </div>
              <div class="media-body">
                  <a href="{{ reference.link }}"><h4 class="media-heading">{{ reference.name }}</h4></a>
                  <p>{{ reference.description }}</p>
              </div>
          </div>
          </div>
          {% endfor %}

      {% else %}
          <p>No references are available.</p>
      {% endif %}


    </div>
    </div>

{% endblock %}
