{% extends 'o_nas/base.html' %}

{% block content %}

<div class="content container" style="padding-top: 1cm">
    <div class="row" id="xz">
    {% if list_of_references %}
        {% for reference in list_of_references %}
        <div class="col-sm-6 col-md-4">
  			<div class="thumbnail" style="border: 0px">
        <a href="{{ reference.link }}"><img style="height: 100px; width:100px" src="{{ reference.image.url }}"></a>
            <div class="caption">
  						<h4 style="text-align: center; font-size: 20px"><a style="color: #000000" href="{{ reference.link }}">{{ reference.name }}</a></h4>
  						<p style="text-align: center">{{ reference.description }}</p>
  					</div>
        </div>
        </div>
        {% endfor %}

    {% else %}
        <p>No references are available.</p>
    {% endif %}

    </div>
    </div>
{% endblock %}
