{% extends 'o_nas/base.html' %}

{% block content %}

<div class="container" style="margin-top: 1cm">
  <h3>Kategorie vyroby:</h3>
  <hr>
    <div class="row">

    {% if list_of_categories %}
        {% for category in list_of_categories %}
        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px">

        <a href="{% url 'vyrobni_program:detail' category.id %}"><img class="img-responsive" src="{{ category.image.url }}"></a>

  						<h3><a href="{% url 'vyrobni_program:detail' category.id %}">{{ category.name }}</a></h3>
  						<p>{{ category.short_description }}</p>

  							<a class="btn btn-default btn-xs" href="{% url 'vyrobni_program:detail' category.id %}">Vice informaci</a>


        </div>
        {% endfor %}

    {% else %}
        <p>No categories are available.</p>
    {% endif %}

    </div>
    </div>
{% endblock %}
